// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~/bootstrap/scss/bootstrap';

#instructions-section{
    background: #673AB7;
}

.shape-divider-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(195% + 1.3px);
    height: 163px;
}

.shape-divider-bottom .shape-fill {
    fill: #673AB7;
}

.shape-divider-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(195% + 1.3px);
    height: 163px;
}

.shape-divider-top .shape-fill {
    fill: #673AB7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}
